{% extends 'index.html' %}

{% block content %}
<div class="col-lg-9">

    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Upload Your Test Case
      </div>
      <form class="card-body" action=" # " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
               accept=".xlsx,.xls" 
               title="Upload excel file"
               name="excel_file"
               style="border: 1px solid black; padding: 5px;"
               required="required">
        <p> 
        <hr>    
        <input type="submit"
               value="Generate"
               class="btn btn-success">
        </form>
        {% for row in excel_data %}
        {% for cell in row %}
            {{ cell }}&nbsp;&nbsp;
        {% endfor %}
        <br>
        {% endfor %}  

  </div>
  <!-- /.col-lg-9 -->
</div>  
{% endblock %}

